<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-light w-bold" href="#">Employee List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
        <div class="d-flex">        
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add student</button>
        </div>
      </div>
  </nav>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Emp Name</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let emp of allEmployees">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.salary}}</td>
        <td>
            <input type="button" value="Edit" (click)="editEmployee(emp)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="deleteEmployee(emp)" class="btn btn-danger"/>
        </td>
    </tr>
</tbody>
</table>




<!-- Button trigger modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-light" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  #closeModalButton></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" [formGroup]="form">
            <div class="col-md-6">
              <label for="inputName" class="form-label">Employee Name</label>
              <input type="text" formControlName="name" name="name" class="form-control" id="inputName" required>
            </div>
            <div class="col-md-6">
              <label for="department" class="form-label">Department</label>
              <input type="text" formControlName="department" name="department" class="form-control" id="department" required>
            </div>
            <div class="col-md-6">
              <label for="salary" class="form-label">Salary</label>
              <input type="number" formControlName="salary" name="salary" class="form-control" id="salary" required>
            </div>
           
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="addEmployee()" [disabled]="!form.valid" *ngIf="!isUpdateMode">Add Employee</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateEmployee()" *ngIf="isUpdateMode">Update</button>          
        </div>
      </div>
    </div>
  </div>